name: docusaurus

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: "18"
      - name: Build Docusaurus
        run: |
          cd docs
          npm install
          npm run build
      - name: Deploy to Metroui.dev
        uses: peaceiris/actions-gh-pages@v3
        with:
          deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY_METRO }}
          external_repository: metro5/metro5.github.io
          publish_branch: main  # default: gh-pages
          publish_dir: ./build
          destination_dir: website/docs
